/* body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .img-1 {
  animation: imgslide;
  animation-duration: 1s;
  position: absolute;
} */

/* @keyframes imgslide {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-200px);
  }
} */

/* @keyframes img2slide {
  from {
    display: none;
    transform: translateX(0);
  }

  to {
    display: inline;
    transform: translateX(-150px);
  }
} */

.box {
  height: 100px;
  width: 100px;
  background-color: lightcoral;

  animation-name: translate;
  animation-duration: 10s;

  animation-timing-function: cubic-bezier(1, -0.01, 1, -0.03);
}

@keyframes translate {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(600px);
  }
}
