.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.grid-item {
  height: 200px;
  background-color: lightgreen;
}

@media (max-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item {
    background-color: lightcoral;
  }
}


@media (max-width: 450px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
