#container {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  position: relative;
  z-index: -2;
}

#first {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
}

#second {
  width: 100px;
  height: 100px;
  background-color: lightseagreen;
  z-index: 1;
}
